.img-rou {
    border-radius: 50%;
    width: 5vmin;
    height: 5vmin;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease;
  }
  
  .ko:hover{
  cursor: pointer; 
   position: relative;
   bottom: 20px;
   transition: all 0.25s ease 0s;
  }



