
/*  */
.text {
  max-width: 600px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.1rem;
}
.text-btn {
  appearance: none;
  background-color:#014e78;
  color:white;
  padding: 0.5em;
  cursor: pointer;
  width: fit-content;
  border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;  
  -o-border-radius: 0.25em;
}
.text-btn::before {
  content: "Read More";
  text-transform: capitalize;
}
.text-btn:checked::before {
  content: "Read Less";
}
.text:has(+ .text-btn:checked) {
  -webkit-line-clamp: initial;
}

/* Djh6hhj */

.extra {
  display: none;
}
p {
  font-family: "Poppins", sans-serif;
  line-height: 2em;
  display: inline;
}
input[type="checkbox"] {
  height: 2em;
  display: block;
  appearance: none;
}
label {
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 1em;
  background-color: #2b8eec;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0.5em;
}
label:before {
  content: "Read More";
}
input[type="checkbox"]:checked ~ label:before {
  content: "Read Less";
}
.dots:has(~ input[type="checkbox"]:checked) {
  display: none;
}
.extra:has(~ input[type="checkbox"]:checked) {
  display: inline;
}



