
  

      
.section {
    padding-top: 4rem;
    padding-bottom: 4rem; }
    .section .heading {
      font-size: 30px;
      font-weight: 700; }
  
  .sec-features {
    background-color: #306EE8;
    background: #306ee8;
    background: -webkit-linear-gradient(310deg, #306ee8 0%, #3038e8 100%);
    background: -o-linear-gradient(310deg, #306ee8 0%, #3038e8 100%);
    background: linear-gradient(140deg, #306ee8 0%, #3038e8 100%);
    overflow: hidden; }
    .sec-features .feature [class^="bi-"] {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
      flex: 0 0 60px;
      font-size: 50px;
      position: relative;
      margin-right: 10px; }
      .sec-features .feature [class^="bi-"]:before {
        color: #fff;
        z-index: 2;
        position: relative; }
      .sec-features .feature [class^="bi-"]:after {
        position: absolute;
        z-index: 1;
        left: -10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(108, 117, 125, 0.1); }
    .sec-features .feature h3, .sec-features .feature .h3 {
      font-size: 18px;
      font-weight: 400;
      color: #fff; }
    .sec-features .feature p {
      color: rgba(255, 255, 255, 0.7); }
      .sec-features .feature p:last-child {
        margin-bottom: 0; }
  
  .sec-services {
    background: rgba(0, 0, 0, 0.05); }
  
  .service {
    padding: 40px;
    margin-bottom: 25px;
    border-radius: 4px;
    background: #fff; }
    .service [class^="bi-"] {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
      flex: 0 0 60px;
      font-size: 50px;
      position: relative;
      margin-right: 10px;
      margin-bottom: 20px;
      display: inline-block; }
      .service [class^="bi-"]:before {
        color: #306EE8;
        z-index: 2;
        position: relative; }
      .service [class^="bi-"]:after {
        position: absolute;
        z-index: 1;
        left: -10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(108, 117, 125, 0.05); }
    .service h3, .service .h3 {
      color: #000;
      font-size: 18px; }
  
  .sec-cta {
    background-size: cover;
    background-position: 100% center;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .sec-cta.overlay {
      position: relative; }
      .sec-cta.overlay:before {
        background: #306ee8;
        background: -webkit-linear-gradient(310deg, #306ee8 0%, #3038e8 100%);
        background: -o-linear-gradient(310deg, #306ee8 0%, #3038e8 100%);
        background: linear-gradient(140deg, #306ee8 0%, #3038e8 100%);
        opacity: .9;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1; }
    .sec-cta > .container {
      position: relative;
      z-index: 2; }
    .sec-cta .heading {
      color: #fff; }
    .sec-cta p {
      color: #fff; }


       