


.take{
    cursor: pointer;
    transition: all 0.3s;

}

.take:hover{
    transform: scale(0.9);
    transition: all 0.3s;
}
.form-controli:focus {
    border-color: #ced4da; /* default B5 color or set your own color*/
    border: none !important; /* if you want to remove borders at all*/
    outline: none !important;
    box-shadow: none !important;
  }  
