
.boda-a{
   border: 2px solid;
}
.boda-b{
   border: 2px solid;
}
.boda-right{
    border-right: 3px solid #add8e6;
}
.boda-phot03{
    border-right: 3px solid #800080;
}
.boda-left{
    border-right: 3px solid #add8e6;
}
.pd{
    padding: 1px;
}

